/*
  By default, flex tries to fit everything onto one line. Sometimes,
  this is not what you want. To allow items to wrap around onto
  another line if the current line is full, use flex-wrap.

  flex-wrap: nowrap is the default setting.

  flex-wrap can take three values: wrap, nowrap, wrap-reverse.
  Of the three, wrap-reverse might bear a little more mentioning.
  flex-wrap: wrap-reverse; will wrap items from right to left
  instead of left to right.
*/


/* Note that the div is just CSS formatted as normal */
div {
  height: 10rem;
  width: 10rem;
  background-color: gray;
  border: 2px solid red;
  text-align: center;
  margin: 1rem;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
  /*flex-wrap: wrap-reverse;*/
  /*flex-wrap: nowrap;*/
}
