/* css reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, button, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, nav, output, section, time, mark, audio, video, input, textarea, select {
    margin: 0;
    padding: 0;
    border: 0;
    /* inherits the browser's font properties: font-size 16px */
    font: inherit;
    /*  specifies the vertical alignment of an inline element */
    vertical-align: baseline;

    box-sizing: border-box;

    /*  specifies the height of line boxes within the element. */
    line-height: 1;

    border-radius: 0;

    /* no outline around anything */
    outline: none;

    /* inherit the color value of the parent */
    color: inherit;
}

ol, ul {
    /* no bullets in lists */
    list-style: none;
}

a {
    /* no underline */
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

blockquote, q {
    /* no quotes */
    quotes: none;
}

table {
    /* no spacing between cells*/
    border-spacing: 0;
    /*borders are collapsed - adjacent table cells share borders */
    border-collapse: collapse;
}

input, select, progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

svg {
    width: 1.9em;
    height: 1.9em;
    fill: currentColor;
}

/************************************/
/* Modifications to css begin below */
/************************************/

html {
  background-color: #45D;
}

body {
  background-color: #5D5;
  width: 75%;
  margin: 0 auto;
  border: 2px solid black;
}

h1 {
  font-size: 36px;
}

h1:nth-child(2) {
  color: blue;
}

h1:nth-child(1n+3) {
  color: red;
}

.centered {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.round_bordered {
  border: 20px groove yellow;
  border-radius: 100%;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  margin-bottom: 10px;
}

p:first-child::first-letter {
  font-size: 25px;
  font-family: cursive;
  color: #446;
}
