header {
  background-color: #252525;
  color: green;
  border: 3px solid blue;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

p {
  display: inline-block;
}

h1 {
  display: inline-block;
}

nav {
  display: inline-block;
  max-width: 40rem;
  text-align: left;
  background-color: #252525;
  color: green;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  border: 1px solid green;
}

li:hover {
  background-color: green;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: cyan;
}

main {
  display: inline-block;
  max-width: 65%;
  float: right;
}

.content-left {
  float: left;
}

.center {
  text-align: center;
}

.content-right {
  float: right;
}
