/* Turn the body into a flexbox */
body {
  background-color: #252525;
  display: flex;
  align-items: flex-start;
}

div {
  margin: 1rem;
  text-align: center;
  background-color: green;
  border: 2px solid yellow;
  height: 100px;
  width: 100px;
}

.im-different {
  /* Use align-self to move the item around */
  align-self: flex-end;
}
